.left-side {
  .blue-box {
    margin-left: 40%;
  }
}

.right-side {
  .blue-box {
    margin-right: 40%;
  }
}

.blue-box {
  background-image: url('../assets/tiles/blue-box.jpg');
  box-shadow: 3px 3px 20px #000;
  display: block;
  font-size: 20px;
  margin-top: 20px;
  padding: 35px;

  p {
    color: #fff;
  }

  p:first-child {
    margin-bottom: 10px;
  }
}
