.left-side {
  .brown-box {
    margin-left: 20%;
  }
}

.right-side {
  .brown-box {
    margin-right: 20%;
  }
}

.brown-box {
  background-image: url('../assets/tiles/brown-box.jpg');
  box-shadow: 3px 3px 20px #000;
  display: block;
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
  padding: 35px;

  p {
    color: #fff;
    margin-bottom: 10px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.official-sponsor {
  margin-left: 40% !important;

  img {
    float: right;
    max-height: 90px;
    max-width: 100px;
    margin-left: 20px;
  }

  p {
    color: #4d3815;

    span {
      color: #fff;
      font-size: 24px;
    }
  }

  button {
    background-color: #6f5325;
    border: 1px solid #382511;
    color: #9d917d;
    font-size: 9px;
    padding: 9px 14px;
    text-transform: uppercase;
  }
}
