.left-side {
  .brown-box {
    margin-left: 20%;
    
    @media screen and (max-width: 800px) {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

.right-side {
  .brown-box {
    margin-right: 20%;
    
    @media screen and (max-width: 800px) {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

.brown-box {
  background-image: url('../assets/tiles/brown-box.jpg');
  box-shadow: 3px 3px 20px #000;
  display: block;
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
  padding: 35px;

  p {
    color: #fff;
    margin-bottom: 10px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    color: $orange;
  }
}

.official-sponsor {
  margin-left: 40%;
    
  @media screen and (max-width: 800px) {
    margin-left: 5%;
    margin-right: 5%;
  }

  img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .42);
    float: right;
    margin-left: 20px;
    max-height: 90px;
    max-width: 100px;
    
    @media screen and (max-width: 400px) {
      float: none;
      margin-left: 0;
    }
  }

  p {
    color: #4d3815;

    span {
      color: #fff;
      font-size: 24px;
    }
  }

  button {
    background-color: #6f5325;
    border: 1px solid #382511;
    color: #9d917d;
    font-size: 9px;
    padding: 9px 14px;
    text-transform: uppercase;
  }
}
