.contact-form {
  text-align: left;
  width: 100%;

  a {
    color: #deecc2;
    text-decoration: underline;
  }

  p {
    margin-bottom: 20px;
  }

  label {
    color: #deecc2;
  }

  input[type='text'],
  input[type='email'] {
    background-color: rgba(255, 255, 255, .23);
    border: 1px solid rgba(102, 102, 102, .54);
    border-radius: 3px;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
    width: 100%;
  }

  input[type='submit'] {
    background-color: rgba(84, 110, 32, .33);
    border: 2px solid rgba(186, 223, 119, 1);
    color: rgb(221, 235, 193);
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
    transition: background-color .3s ease;
    transition: border .3s ease;
    width: 100px;

    &:hover {
      background-color: rgba(84, 110, 32, .83);
      border-color: transparent;
    }
  }
}
