.event-links {
  background-image: url('../assets/tiles/black-screen.png');
  border: 5px groove $orange;
  border-left: 0;
  border-right: 0;
  padding: 20px;
  text-align: center;
  width: 100%;

  span {
    color: #999;
    font-size: 12px;
  }

  a {
    color: #fff;
    font-size: 16px;
  }

  ul {
    display: inline-block;
    text-align: left;
    width: 230px;
  }

  li {
    background-color: transparent;
    display: block;
    margin: 8px 5px;
    padding: 5px;
    transition: background-color .3s ease;
  }

  li:hover {
    background-color: #000;
    transition: background-color .3s ease;

    a {
      color: $orange;
    }
  }

  li:first-child {
    color: $orange;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
}
