footer {
  width: 100%;
}

.social-footer-links {
  background: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
  }

  img {
    margin: 5px;
    width: 40px;
  }
}
