.left-side {
  .green-box {
    margin-left: 25%;
    
    @media screen and (max-width: 800px) {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

.right-side {
  .green-box {
    margin-right: 25%;
    
    @media screen and (max-width: 800px) {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
}

.green-box {
  background-image: url('../assets/tiles/green-box.jpg');
  box-shadow: 3px 3px 20px #000;
  display: block;
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
  padding: 35px;

  p {
    color: #fff; 
    margin-bottom: 10px;

    i {
      text-align: left;
      width: 25px;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
