header {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  padding-top: 120px;
  text-align: center;

  img {
    margin-bottom: 25px;
  }
}

.winter-header {
  background-image: url('../assets/headers/winter-header.png');
}
