header {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding-top: 120px;
  position: fixed;
  text-align: center;
  width: 100%;

  img {
    margin-bottom: 25px;

    @media screen and (max-width: 650px) {
      width: 200px;
    }
  }
}

.winter-header {
  background-image: url('../assets/headers/winter-header.png');
  
  @media screen and (max-width: 500px) {
    background-image: url('../assets/headers/winter-header-sm.png');
  }
}

.spring-header {
  background-image: url('../assets/headers/spring-header.png');
  
  @media screen and (max-width: 500px) {
    background-image: url('../assets/headers/spring-header-sm.png');
  }
}

.summer-header {
  background-image: url('../assets/headers/summer-header.png');
  
  @media screen and (max-width: 500px) {
    background-image: url('../assets/headers/summer-header-sm.png');
  }
}

.fall-header {
  background-image: url('../assets/headers/fall-header.png');
  
  @media screen and (max-width: 500px) {
    background-image: url('../assets/headers/fall-header-sm.png');
  }
}

.results-header {
  background-image: url('../assets/headers/results-header.png');
  
  @media screen and (max-width: 500px) {
    background-image: url('../assets/headers/results-header-sm.png');
  }
}

.about-header {
  background-image: url('../assets/headers/photos-header.png');
  background-position: 0 80%;
  
  @media screen and (max-width: 500px) {
    background-image: url('../assets/headers/photos-header-sm.png');
  }
}

.why-header {
  background-image: url('../assets/headers/why-header.png');
  
  @media screen and (max-width: 500px) {
    background-image: url('../assets/headers/why-header-sm.png');
  }
}

.contact-header {
  background-image: url('../assets/headers/contact-header.png');
  
  @media screen and (max-width: 500px) {
    background-image: url('../assets/headers/contact-header-sm.png');
  }
}

