header {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  padding-top: 120px;
  text-align: center;

  img {
    margin-bottom: 25px;
  }
}

.winter-header {
  background-image: url('../assets/headers/winter-header.png');
}

.spring-header {
  background-image: url('../assets/headers/spring-header.png');
}

.summer-header {
  background-image: url('../assets/headers/summer-header.png');
}

.fall-header {
  background-image: url('../assets/headers/fall-header.png');
}
