nav {
  background: rgba(0, 0, 0, 0);
  font-family: 'Lato', sans-serif;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background .4s ease;
  width: 100%;
  z-index: 9000;

  &:hover {
    transition: background .4s ease;
  }

  .season-icon {
    cursor: pointer;
    float: right;
    height: 100%;
    padding: 10px;
    position: absolute;
    right: 0;
    z-index: +1;
  }
}

.main-nav {
  margin: 10px auto 0;
  max-width: 100%;
  text-align: center;

  li {
    border-right: solid 1px #fff;
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;

    &:last-child {
      border: 0;
    }

    @media screen and (max-width: 700px) {
      padding: 10px 20px;
    }

    @media screen and (max-width: 500px) {
      padding: 5px 15px;
    }

    @media screen and (max-width: 400px) {
      margin-top: 12px;
      padding: 0 7px;
    }
  }

  a {
    color: #fff;
    font-size: 15px;

    &:hover {
      color: $orange;
    }

    @media screen and (max-width: 600px) {
      font-size: 13px;
    }

    @media screen and (max-width: 550px) {
      font-size: 12px;
    }
  }

  span {
    text-transform: lowercase;
  }
}

.seasons-nav {
  background-color: rgba(0, 0, 0, .41);
  display: none;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 70px;

  a {
    color: rgba(255, 255, 255, .63);

    &:hover {
      color: $orange;
    }
  }

  img {
    margin-right: 8px;
    vertical-align: middle;
    width: 25px;
  }

  .active {
    background-color: rgba(0, 0, 0, .58);
    color: $orange;
  }
}

.seasons-nav-li {
  padding: 10px 20px;

  &:hover {
    background-color: rgba(0, 0, 0, .58);

    img:first-child {
      display: none;
    }
    
    img:nth-child(2) {
      display: inline-block;
    }
  }

  img:nth-child(2) {
    display: none;
  }
}

