nav {
  background: rgba(0, 0, 0, .8);
  font-family: 'Lato', sans-serif;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background .4s ease;
  width: 100%;
  z-index: 9000;

  &:hover {
    transition: background .4s ease;
  }

  ul {
    margin: 10px auto 0;
    max-width: 100%;
    text-align: center;
  }

  li {
    border-right: solid 1px #fff;
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase;

    &:last-child {
      border: 0;
    }
  }

  a {
    color: #fff;
    font-size: 15px;

    &:hover {
      color: $orange;
    }
  }

  span {
    text-transform: lowercase;
  }
}
