.current-results {
  li {
    margin-bottom: 30px;
  }

  .title {
    color: #fff;
    font-size: 18px;
  }

  i {
    background-color: #2a200f;
    color: $orange;
    float: right;
    font-size: 23px;
    margin-left: 10px;
    margin-top: 5px;
    padding: 5px;
    
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}

.past-results {

  summary {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    outline: none;
  }

  li {
    margin-bottom: 20px;
  }
  
  .title {
    color: #fff;
  }

  i {
    background-color: #252525;
    color: #ccc;
    float: left;
    font-size: 18px;
    margin-right: 10px;
    margin-top: 6px;
    padding: 5px;
    
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}
