.current-results {
  li {
    margin-bottom: 10px;
  }

  p:first-child {
    color: #fff;
  }

  i {
    color: $orange;
    font-size: 23px;
    padding: 5px;
    background-color: #2A200F;
  }
}

.past-results {
  p:first-child {
    color: #fff;
  }

  i {
    color: #ccc;
  }
}
