.season-icons-list {
  li {
    display: inline-block;
    padding: 10px;

    a:nth-child(2) {
      display: none;
    }

    @media screen and (max-width: 400px) {
      padding: 6px;
    }
  }

  li:hover {
    a:first-child {
      display: none;
    }

    a:nth-child(2) {
      display: block;
    }
  }

  img {
    cursor: pointer;
    opacity: .9;
    width: 70px;

    @media screen and (max-width: 400px) {
      width: 60px;
    }
  }
}
