.full-page {
  .logo {
    margin-bottom: 20px;
    text-align: center;

    img {
      margin: 20px;
      width: 200px;
    }
  }

  .header {
    border: solid 1px #000;
    border-left: 0;
    border-right: 0;
    padding: 10px 0;
    position: relative;

    .fa-flag-checkered {
      font-size: 36px;
      position: relative;
      top: +6px;
      width: 50px;
    }

    h1 {
      display: inline;
      font-size: 30px;
      font-weight: 200;
      text-transform: uppercase;
    }

    h2 {
      font-size: 19px;
      font-weight: 200;
      margin-left: 53px;
      text-transform: uppercase;
    }

    img {
      bottom: 10px;
      position: absolute;
      right: 0;
      width: 270px;
    }
  }

  h5 {
    font-weight: 400;
  }

  p {
    font-weight: 200;
  }
}
