.winter-page {
  .values-block {
    margin: 60px 0;
    
    p {
      color: $blue;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 50px;
      font-weight: 600;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      text-transform: uppercase;

      @media screen and (max-width: 400px) {
        font-size: 36px;
      }
    }

    p:nth-child(odd) {
      color: $light-blue;
    }
  }
}

.summer-page,
.spring-page {
  .values-block {
    margin: 60px 0;
    
    p {
      color: $green;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 50px;
      font-weight: 600;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      text-transform: uppercase;

      @media screen and (max-width: 400px) {
        font-size: 36px;
      }
    }

    p:nth-child(odd) {
      color: $light-green;
    }
  }
}

.fall-page {
  .values-block {
    margin: 60px 0;
    
    p {
      color: $light-brown;
      font-family: Tahoma, Geneva, sans-serif;
      font-size: 50px;
      font-weight: 600;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      text-transform: uppercase;

      @media screen and (max-width: 400px) {
        font-size: 36px;
      }
    }

    p:nth-child(odd) {
      color: $light-gold;
    }
  }
}

.archive-header {
  margin: 20px 0;
  
  p {
    color: $light-brown;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: uppercase;

    @media screen and (max-width: 400px) {
      font-size: 40px;
    }
  }
}
