.left-side,
.right-side {
  display: inline-block;
  margin: 550px 1% 50px;
  padding: 20px 0;
  vertical-align: top;
  width: 47%;
}

.left-side {
  text-align: right;
}

.right-side {
  padding-top: 20px;
  text-align: left;
}

.full-page {
  background-color: #fff;
  margin: 50 auto;
  width: 80%;
}

article {
  margin: 20px 0;
}
