.main-header {
  color: $orange;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 70px;
  margin-bottom: 60px;
  text-shadow: 5px 5px 5px #000;
  text-transform: uppercase;

  @media screen and (max-width: 400px) {
    font-size: 50px;
  }

  span {
    color: #fff;
    display: block;
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    font-weight: 100;
    line-height: 0;
    text-transform: lowercase;
    
    @media screen and (max-width: 400px) {
      font-size: 50px;
    }
  }
}
