<footer>
  <div class="event-links">
    <ul>
      <li>winter events</li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
    </ul>
    <ul>
      <li>spring events</li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
    </ul>
    <ul>
      <li>summer events</li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
    </ul>
    <ul>
      <li>fall events</li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
      <li>
        <span>January 25th, 2015</span>
        <p><a href="#">Sidehiller Snowshoe Race<a></p>
      </li>
    </ul>
  </div>
  <div class="sponsor-links">
    <h3>our sponsors</h3>
    <ul>
      <li><a href="#" target="_blank"><img src="assets/sponsors/01.jpg"></a></li>
      <li><a href="#" target="_blank"><img src="assets/sponsors/02.png"></a></li>
      <li><a href="#" target="_blank"><img src="assets/sponsors/03.jpg"></a></li>
      <li><a href="#" target="_blank"><img src="assets/sponsors/04.jpg"></a></li>
      <li><a href="#" target="_blank"><img src="assets/sponsors/05.jpg"></a></li>
      <li><a href="#" target="_blank"><img src="assets/sponsors/06.jpg"></a></li>
      <li><a href="#" target="_blank"><img src="assets/sponsors/07.jpg"></a></li>
      <li><a href="#" target="_blank"><img src="assets/sponsors/08.jpg"></a></li>
      <li><a href="#" target="_blank"><img src="assets/sponsors/09.jpg"></a></li>
      <li><a href="#" target="_blank"><img src="assets/sponsors/10.jpg"></a></li>
    </ul>
  </div>
  <div class="social-footer-links">
    <ul>
      <li><img src="assets/icons/sm_facebook.jpg"></li>
      <li><img src="assets/icons/sm_twitter.jpg"></li>
      <li><img src="assets/icons/sm_instagram.png"></li>
      <li><img src="assets/icons/sm_youtube.png"></li>
    </ul>
    <p>&copy; 2014 acidotic RACING, LLC<p>
    <p>Website design and development by Stephen Young</p>
  </div>
</footer>