<header class="@@class">
  <img class="logo" src="assets/logo.png">
  <ul class="season-icons-list">
    <li class="wow animated flipInY">
      <a href="events/winter"><img src="assets/icons/winter_icon.jpg"></a>
      <a href="events/winter"><img src="assets/icons/winter_icon_orange.jpg"></a>
    </li>
    <li class="wow animated flipInY">
      <a href="events/spring"><img src="assets/icons/spring_icon.jpg"></a>
      <a href="events/spring"><img src="assets/icons/spring_icon_orange.jpg"></a>
    </li>
    <li class="wow animated flipInY">
      <a href="events/summer"><img src="assets/icons/summer_icon.jpg"></a>
      <a href="events/summer"><img src="assets/icons/summer_icon_orange.jpg"></a>
    </li>
    <li class="wow animated flipInY">
      <a href="events/fall"><img src="assets/icons/fall_icon.jpg"></a>
      <a href="events/fall"><img src="assets/icons/fall_icon_orange.jpg"></a>
    </li>
  </ul>
</header>