<nav>
  <img src="assets/icons/@@season_icon.jpg" class="season-icon">

  <ul class="seasons-nav">
    <li>
      <a href="events/winter">
        <img src="assets/icons/winter_icon.jpg">
        <img src="assets/icons/winter_icon_orange.jpg">
        Winter Season
      </a></li>
    <li>
      <a href="events/spring">
        <img src="assets/icons/spring_icon.jpg">
        <img src="assets/icons/spring_icon_orange.jpg">
        Spring Season
      </a></li>
    <li>
      <a href="events/summer">
        <img src="assets/icons/summer_icon.jpg">
        <img src="assets/icons/spring_icon_orange.jpg">
        Summer Season
      </a></li>
    <li>
      <a href="events/fall">
        <img src="assets/icons/fall_icon.jpg">
        <img src="assets/icons/spring_icon_orange.jpg">
        Fall Season
      </a></li>
  </ul>

  <ul class="main-nav animated fadeInDownBig">
    <li><a href="events/winter">events</a></li>
    <li><a href="about">about</a></li>
    <li><a href="contact">contact</a></li>
  </ul>
</nav>
