* {
  box-sizing: border-box; }

html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%; }

ul, li, p, h1, h2, h3, h4, h5, h6, form {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

p span {
  color: #000; }

a {
  color: #000;
  text-decoration: none; }

.winter-page {
  background-image: url('../assets/tiles/body_wallpaper_snow.jpg'); }

.left-side, .right-side {
  display: inline-block;
  margin: 0 1%;
  padding: 20px 0;
  width: 47%; }

.left-side {
  text-align: right; }

.right-side {
  text-align: left; }

.main-header {
  color: #fcb034;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 70px;
  margin-bottom: 60px;
  text-shadow: 5px 5px 5px #000;
  text-transform: uppercase; }
  .main-header span {
    color: #fff;
    display: block;
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    font-weight: 100;
    line-height: 0;
    text-transform: lowercase; }

.season-icons-list li {
  display: inline-block;
  padding: 10px; }
.season-icons-list img {
  cursor: pointer;
  opacity: .9;
  width: 70px; }

nav {
  background: rgba(0, 0, 0, 0.1);
  font-family: 'Lato', sans-serif;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  nav ul {
    margin: 10px auto 0;
    max-width: 100%;
    text-align: center; }
  nav li {
    border-right: solid 1px #fff;
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase; }
    nav li:last-child {
      border: 0; }
  nav a {
    color: #fff;
    font-size: 15px; }
    nav a:hover {
      color: #fcb034; }
  nav span {
    text-transform: lowercase; }

header {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  padding-top: 120px;
  text-align: center; }
  header img {
    margin-bottom: 20px; }

.winter-header {
  background-image: url('../assets/headers/winter-header.png'); }

footer {
  width: 100%; }

.social-footer-links {
  background: #fff;
  padding: 20px;
  text-align: center;
  width: 100%; }
  .social-footer-links li {
    display: inline-block; }
  .social-footer-links img {
    margin: 5px;
    width: 40px; }

.event-links {
  background-image: url('../assets/tiles/black-screen.png');
  border: 5px groove #fcb034;
  border-left: 0;
  border-right: 0;
  padding: 20px;
  text-align: center;
  width: 100%; }
  .event-links ul {
    display: inline-block;
    text-align: left;
    width: 230px; }
  .event-links li {
    display: block;
    width: 300px; }
  .event-links li:first-child {
    color: #fcb034;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .event-links span {
    color: #ccc;
    font-size: 12px; }
  .event-links a {
    color: #fff;
    font-size: 16px; }

.sponsor-links {
  background: #fff;
  padding: 20px;
  text-align: center;
  width: 100%; }
  .sponsor-links h3 {
    color: #fcb034;
    font-size: 20px;
    margin: 10px auto 20px;
    text-transform: uppercase; }
  .sponsor-links li {
    display: inline-block;
    vertical-align: middle; }
  .sponsor-links img {
    margin: 10px;
    max-width: 80px; }

.blue-box {
  background-image: url('../assets/tiles/blue-box.jpg');
  display: block;
  margin-left: 50%;
  margin-top: 20px;
  padding: 20px; }
  .blue-box p {
    color: #fff; }
  .blue-box p:first-child {
    margin-bottom: 10px; }
