* {
  box-sizing: border-box; }

html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  max-width: 100%;
  padding: 0;
  width: 100%; }

ul, li, p, h1, h2, h3, h4, h5, h6, form {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

p span {
  color: #000; }

a {
  color: #000;
  text-decoration: none; }

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden; }

.winter-page {
  background-image: url('../assets/tiles/body_wallpaper_snow.jpg'); }

.spring-page {
  background-image: url('../assets/tiles/body_wallpaper_stream.jpg'); }

.summer-page {
  background-image: url('../assets/tiles/body_wallpaper_sand.jpg'); }

.fall-page {
  background-image: url('../assets/tiles/body_wallpaper.jpg'); }

.left-side, .right-side {
  display: inline-block;
  margin: 550px 1% 50px;
  padding: 20px 0;
  vertical-align: top;
  width: 47%; }

.left-side {
  text-align: right; }

.right-side {
  padding-top: 20px;
  text-align: left; }

.full-page {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 3px 3px 20px #000;
  margin: 100px auto 50px;
  padding: 40px 70px;
  width: 900px; }

article {
  margin: 20px 0; }

.main-header {
  color: #fcb034;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 70px;
  margin-bottom: 60px;
  text-shadow: 5px 5px 5px #000;
  text-transform: uppercase; }
  .main-header span {
    color: #fff;
    display: block;
    font-family: 'Great Vibes', cursive;
    font-size: 70px;
    font-weight: 100;
    line-height: 0;
    text-transform: lowercase; }

.season-icons-list li {
  display: inline-block;
  padding: 10px; }
  .season-icons-list li a:nth-child(2) {
    display: none; }
.season-icons-list li:hover a:first-child {
  display: none; }
.season-icons-list li:hover a:nth-child(2) {
  display: block; }
.season-icons-list img {
  cursor: pointer;
  opacity: .9;
  width: 70px; }

nav {
  background: transparent;
  font-family: 'Lato', sans-serif;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
  transition: background .4s ease;
  width: 100%;
  z-index: 9000; }
  nav:hover {
    transition: background .4s ease; }
  nav ul {
    margin: 10px auto 0;
    max-width: 100%;
    text-align: center; }
  nav li {
    border-right: solid 1px #fff;
    display: inline-block;
    padding: 15px 30px;
    text-transform: uppercase; }
    nav li:last-child {
      border: 0; }
  nav a {
    color: #fff;
    font-size: 15px; }
    nav a:hover {
      color: #fcb034; }
  nav span {
    text-transform: lowercase; }

header {
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding-top: 120px;
  position: fixed;
  text-align: center;
  width: 100%; }
  header img {
    margin-bottom: 25px; }

.winter-header {
  background-image: url('../assets/headers/winter-header.png'); }

.spring-header {
  background-image: url('../assets/headers/spring-header.png'); }

.summer-header {
  background-image: url('../assets/headers/summer-header.png'); }

.fall-header {
  background-image: url('../assets/headers/fall-header.png'); }

.results-header {
  background-image: url('../assets/headers/results-header.png'); }

.photos-header {
  background-image: url('../assets/headers/photos-header.png'); }

.why-header {
  background-image: url('../assets/headers/why-header.png'); }

.contact-header {
  background-image: url('../assets/headers/contact-header.png'); }

footer {
  width: 100%; }

.social-footer-links {
  background: #fff;
  padding: 20px;
  text-align: center;
  width: 100%; }
  .social-footer-links li {
    display: inline-block; }
  .social-footer-links img {
    margin: 5px;
    width: 40px; }

.event-links {
  background-image: url('../assets/tiles/black-screen.png');
  border: 5px groove #fcb034;
  border-left: 0;
  border-right: 0;
  padding: 20px;
  text-align: center;
  width: 100%; }
  .event-links span {
    color: #999;
    font-size: 12px; }
  .event-links a {
    color: #fff;
    font-size: 16px; }
  .event-links ul {
    display: inline-block;
    text-align: left;
    width: 230px; }
  .event-links li {
    background-color: transparent;
    display: block;
    margin: 8px 5px;
    padding: 5px;
    transition: background-color .3s ease; }
  .event-links li:hover {
    background-color: #000;
    transition: background-color .3s ease; }
    .event-links li:hover a {
      color: #fcb034; }
  .event-links li:first-child {
    color: #fcb034;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase; }

.sponsor-links {
  background: #fff;
  padding: 20px;
  text-align: center;
  width: 100%; }
  .sponsor-links h3 {
    color: #fcb034;
    font-size: 20px;
    margin: 10px auto 20px;
    text-transform: uppercase; }
  .sponsor-links li {
    display: inline-block;
    vertical-align: middle; }
  .sponsor-links img {
    margin: 10px;
    max-width: 80px; }

.left-side .blue-box {
  margin-left: 20%; }

.right-side .blue-box {
  margin-right: 20%; }

.blue-box {
  background-image: url('../assets/tiles/blue-box.jpg');
  box-shadow: 3px 3px 20px #000;
  display: block;
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
  padding: 35px; }
  .blue-box p {
    color: #fff;
    margin-bottom: 10px; }
  .blue-box p:last-child {
    margin-bottom: 0; }

.left-side .green-box {
  margin-left: 25%; }

.right-side .green-box {
  margin-right: 25%; }

.green-box {
  background-image: url('../assets/tiles/green-box.jpg');
  box-shadow: 3px 3px 20px #000;
  display: block;
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
  padding: 35px; }
  .green-box p {
    color: #fff;
    margin-bottom: 10px; }
    .green-box p i {
      text-align: left;
      width: 25px; }
  .green-box p:last-child {
    margin-bottom: 0; }

.left-side .brown-box {
  margin-left: 20%; }

.right-side .brown-box {
  margin-right: 20%; }

.brown-box {
  background-image: url('../assets/tiles/brown-box.jpg');
  box-shadow: 3px 3px 20px #000;
  display: block;
  font-size: 16px;
  font-weight: 200;
  margin-top: 20px;
  padding: 35px; }
  .brown-box p {
    color: #fff;
    margin-bottom: 10px; }
  .brown-box p:last-child {
    margin-bottom: 0; }

.left-side .event-block {
  float: right; }

.right-side .event-block {
  left: 0; }

.event-block {
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 3px 3px 20px #000;
  height: 400px;
  position: relative;
  width: 450px; }
  .event-block img {
    left: 0;
    margin: 5px;
    max-height: 100px;
    max-width: 180px;
    position: absolute;
    top: 0; }
  .event-block:hover .event-info {
    opacity: 1;
    transition: opacity .4s ease; }

.event-info {
  background: url('../assets/tiles/black-screen.png');
  color: #fff;
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 30px 10px 10px;
  position: absolute;
  text-align: center;
  top: 0;
  transition: opacity .2s ease;
  width: 100%; }
  .event-info h2 {
    color: #fcb034;
    font-size: 20px;
    margin-bottom: 50px; }
  .event-info h3, .event-info h4 {
    font-weight: 200; }
  .event-info h3 {
    margin-bottom: 10px; }
  .event-info h4 {
    margin-bottom: 30px; }
  .event-info button {
    background: transparent;
    border: dashed 1px #fcb034;
    color: #fcb034;
    cursor: pointer;
    padding: 10px 20px;
    text-transform: uppercase; }
  .event-info h5 {
    bottom: 10px;
    font-style: italic;
    opacity: .6;
    position: absolute;
    text-align: center;
    width: 100%; }

.sidehiller-event {
  background-image: url('../assets/events/event_sidehiller.jpg'); }

.kingman-moonlight {
  background-image: url('../assets/events/event_kingman-moonlight.jpg'); }

.snowshoe-hullaballo {
  background-image: url('../assets/events/event_hullaballo.jpg'); }

.granite-state-snowshoe {
  background-image: url('../assets/events/event_granitestate.jpg');
  margin-top: 40px; }

.suunto {
  background-image: url('../assets/events/suunto.jpg'); }
  .suunto .event-info {
    padding: 30px; }
  .suunto h2 {
    font-size: 30px;
    margin-bottom: 50px;
    margin-top: 50px; }

.contact-event {
  background-image: url('../assets/events/contact_event.jpg'); }

.why-event {
  background-image: url('../assets/events/why-acidotic-01.jpg'); }

.ralph-waldo {
  background-image: url('../assets/events/event_ralphwaldo.jpg'); }

.exeter-trail {
  background-image: url('../assets/events/event_exetertrail.jpg'); }

.loon-mountain {
  background-image: url('../assets/events/event_lmr.jpg'); }

.kingmanfarm-race {
  background-image: url('../assets/events/event_kingmanfarm.jpg'); }

.vulcan-fury {
  background-image: url('../assets/events/event_vulcansfury.jpg'); }

.roaring-falls {
  background-image: url('../assets/events/event-roaring-falls.jpg');
  background-position: 50% 40%; }

.bretton-woods {
  background-image: url('../assets/events/event_brettonwoods.jpg'); }

.results-event {
  background-image: url('../assets/events/event_results.jpg'); }

.winter-page .values-block {
  margin: 60px 0; }
  .winter-page .values-block p {
    color: #92a8f5;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: uppercase; }
  .winter-page .values-block p:nth-child(odd) {
    color: #c9d5eb; }

.summer-page .values-block, .spring-page .values-block {
  margin: 60px 0; }
  .summer-page .values-block p, .spring-page .values-block p {
    color: #409117;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: uppercase; }
  .summer-page .values-block p:nth-child(odd), .spring-page .values-block p:nth-child(odd) {
    color: #caef58; }

.fall-page .values-block {
  margin: 60px 0; }
  .fall-page .values-block p {
    color: #cda882;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: uppercase; }
  .fall-page .values-block p:nth-child(odd) {
    color: #e6c88a; }

.archive-header {
  margin: 20px 0; }
  .archive-header p {
    color: #cda882;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: uppercase; }

.full-page i {
  width: 25px; }
.full-page h4 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase; }
.full-page h5 {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize; }
.full-page p {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 15px;
  margin-left: 29px; }
.full-page .no-extra-padding {
  margin-left: 0; }
.full-page .logo {
  text-align: right; }
  .full-page .logo img {
    margin: 10px;
    width: 100px; }
.full-page .header {
  border-bottom: solid 1px #000;
  padding: 0 0 10px;
  position: relative; }
  .full-page .header h1 {
    font-size: 30px;
    font-weight: 200;
    text-transform: uppercase; }
  .full-page .header h2 {
    font-size: 19px;
    font-weight: 200;
    text-transform: uppercase; }
  .full-page .header img {
    bottom: 10px;
    position: absolute;
    right: 0;
    width: 270px; }
.full-page .race-image {
  background-image: url('../assets/events/lmr.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 350px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 450px; }
  .full-page .race-image img {
    margin: 10px;
    width: 130px; }
  .full-page .race-image i {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iIzk5OTk5OSIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2Q0ZDRkNCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iNTYlIiBzdG9wLWNvbG9yPSIjZTBlMGUwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iNjQlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(-45deg, rgba(153, 153, 153, 0.05) 38%, rgba(212, 212, 212, 0.7) 53%, rgba(224, 224, 224, 0) 56%, rgba(255, 255, 255, 0) 64%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(38%, rgba(153, 153, 153, 0.05)), color-stop(53%, rgba(212, 212, 212, 0.7)), color-stop(56%, rgba(224, 224, 224, 0)), color-stop(64%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(-45deg, rgba(153, 153, 153, 0.05) 38%, rgba(212, 212, 212, 0.7) 53%, rgba(224, 224, 224, 0) 56%, rgba(255, 255, 255, 0) 64%);
    background: -o-linear-gradient(-45deg, rgba(153, 153, 153, 0.05) 38%, rgba(212, 212, 212, 0.7) 53%, rgba(224, 224, 224, 0) 56%, rgba(255, 255, 255, 0) 64%);
    background: -ms-linear-gradient(-45deg, rgba(153, 153, 153, 0.05) 38%, rgba(212, 212, 212, 0.7) 53%, rgba(224, 224, 224, 0) 56%, rgba(255, 255, 255, 0) 64%);
    background: linear-gradient(135deg, rgba(153, 153, 153, 0.05) 38%, rgba(212, 212, 212, 0.7) 53%, rgba(224, 224, 224, 0) 56%, rgba(255, 255, 255, 0) 64%);
    background-color: #fff;
    bottom: 0;
    color: rgba(0, 0, 0, 0.52);
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d999999', endColorstr='#00ffffff', GradientType=1);
    font-size: 14px;
    padding: 4px 20px 20px 4px;
    position: absolute;
    right: 0;
    transition: padding .4s ease;
    width: auto; }
  .full-page .race-image i:hover {
    padding: 8px 23px 23px 8px;
    transition: padding .4s ease; }
.full-page .race-details {
  display: inline-block;
  margin-left: 20px;
  width: 200px; }
.full-page .button-wrapper img {
  cursor: pointer;
  margin-left: 10px;
  vertical-align: middle;
  width: 125px; }
.full-page .button-wrapper p {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
  text-transform: uppercase;
  vertical-align: middle; }
.full-page .button-wrapper i {
  padding-top: 4px;
  vertical-align: middle; }
.full-page .frm-email-notification {
  border-bottom: solid 1px #000;
  margin-top: 20px;
  padding-bottom: 15px; }
  .full-page .frm-email-notification label {
    display: block;
    padding-bottom: 5px; }
  .full-page .frm-email-notification input {
    display: inline-block;
    height: 35px;
    padding-left: 10px;
    width: 250px; }
  .full-page .frm-email-notification button {
    background: transparent;
    border: solid 1px #fcb034;
    color: #fcb034;
    padding: 10px 15px;
    text-transform: uppercase; }
.full-page .reg-open {
  color: #409117; }
.full-page .reg-closed {
  color: #f00; }
.full-page .sponsor-image {
  margin-bottom: 20px;
  margin-top: 10px;
  width: 150px; }
.full-page .accolades-article {
  margin: 40px 0 0; }
  .full-page .accolades-article div {
    margin: 20px 0;
    padding-bottom: 10px; }
  .full-page .accolades-article h2 {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 15px;
    vertical-align: middle;
    width: 500px; }
  .full-page .accolades-article p {
    display: inline-block;
    font-size: 16px;
    margin-left: 0;
    vertical-align: middle;
    width: 500px; }
  .full-page .accolades-article img {
    float: left;
    margin: 20px 30px 20px 0;
    max-width: 150px;
    vertical-align: middle;
    width: 200px; }
.full-page .course-map {
  margin-top: 15px;
  max-width: 100%; }

.current-results li {
  margin-bottom: 30px; }
.current-results .title {
  color: #fff;
  font-size: 18px; }
.current-results i {
  background-color: #2a200f;
  color: #fcb034;
  float: right;
  font-size: 23px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px; }

.past-results summary {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
  outline: none; }
.past-results li {
  margin-bottom: 20px; }
.past-results .title {
  color: #fff; }
.past-results i {
  background-color: #252525;
  color: #ccc;
  float: left;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 6px;
  padding: 5px; }
