$primary-font: 'Lato', sans-serif;
$primary-color: #000;
$secondary-color: #f00;
$link-color: #000;

$orange: #fcb034;
$gray: #ccc;
$dark-gray: #666;
$blue: #92a8f5;
$light-blue: #c9d5eb;
$green: #409117;
$light-green: #caef58;
$red: #f00;
$light-brown: #cda882;
$light-gold: #e6c88a;
